server:
  port: 8080

spring:
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
  security:
    oauth2:
      resourceserver:
        jwt:
          # Địa chỉ Auth Service để lấy Public Key check chữ ký
          issuer-uri: ${OAuth2_BASE_URL}
  application:
    name: management-meeting-backend

  # === 1. Cấu hình CSDL (Đọc từ .env) ===
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?createDatabaseIfNotExist=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    # BẬT LẠI: Chạy file data.sql (để sửa lỗi 404)
    # initialization-mode: always 

  # # === 2. Cấu hình Redis (Đọc từ .env) ===
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:} 
      database: ${REDIS_DB}

  # === 3. Cấu hình JPA (Code First) ===
  jpa:
    hibernate:
      # BẬT LẠI: Đây chính là "Code First"
      ddl-auto: update 
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: "Asia/Ho_Chi_Minh"

  # === 4. TẮT FLYWAY ===
  flyway:
    enabled: false # Tắt Flyway để tránh xung đột
  
  # === BỔ SUNG: Cấu hình SMTP (Email) - DÙNG MAILTRAP ===
  mail:
    host: ${EMAIL_HOST}
    port: ${EMAIL_PORT}
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# === 5. Cấu hình Swagger UI ===
springdoc:
  paths-to-match: /api/v1/**
  swagger-ui:
    path: /swagger-ui.html

# === BỔ SUNG: Cấu hình ứng dụng ===
app:
  ors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  jwt:
    secret: ${JWT_SECRET}
    expiration-ms: ${JWT_EXPIRATION_MS}
  frontend:
    base-url: ${FRONTEND_BASE_URL}
  backend:
    base-url: ${BACKEND_BASE_URL}


auth:
  service:
    # URL để Resource Server lấy JWK Set (chứa Public Key của Auth Service)
    jwk-set-uri: ${OAuth2_BASE_URL}/oauth2/jwks
google:
  client:
    id: ${GOOGLE_CLIENT_ID}
    secret: ${GOOGLE_CLIENT_SECRET}
  redirect:
    uri: "${FRONTEND_BASE_URL}/google-callback"