server:
  port: 8080

spring:


  application:
    name: management-meeting-backend

  # === 1. Cấu hình CSDL (Đọc từ .env) ===
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?createDatabaseIfNotExist=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    # BẬT LẠI: Chạy file data.sql (để sửa lỗi 404)
    # initialization-mode: always 

  # # === 2. Cấu hình Redis (Đọc từ .env) ===
  # data:
  #   redis:
  #     host: ${REDIS_HOST}
  #     port: ${REDIS_PORT}
  #     password: ${REDIS_PASSWORD:} 
  #     database: ${REDIS_DB}

  # === 3. Cấu hình JPA (Code First) ===
  jpa:
    hibernate:
      # BẬT LẠI: Đây chính là "Code First"
      ddl-auto: update 
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: "Asia/Ho_Chi_Minh"

  # === 4. TẮT FLYWAY ===
  flyway:
    enabled: false # Tắt Flyway để tránh xung đột
  
  # === BỔ SUNG: Cấu hình SMTP (Email) - DÙNG MAILTRAP ===
  mail:
    host: ${EMAIL_HOST}
    port: ${EMAIL_PORT}
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# === 5. Cấu hình Swagger UI ===
springdoc:
  paths-to-match: /api/v1/**
  swagger-ui:
    path: /swagger-ui.html

# === BỔ SUNG: Cấu hình ứng dụng ===
app:
  jwt:
    secret: ${JWT_SECRET}
    expiration-ms: ${JWT_EXPIRATION_MS}
# === Hết ===

